md-content.md-default-theme {
  background-color: #eee;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-sidenav-left {
  height: 100vh;
}

.md-sidenav-left .email {
  font-size: 0.5em;
}

.md-sidenav-left .user-info {
  padding-left: 10%;
}

.md-sidenav-left .md-toolbar-tools {
  margin: 10px;
}

.user-avatar {
  border-radius: 99%;
}

#add-fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
}