body { 
	background-color:#000;
	color:#e4e4e4;
	margin:0px auto;
	font-weight: normal; 
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}
h1, h2 {
	color:#222;
	padding:12px 20px;
}
span {
	color:#ED1C24;
}
#nav {
	height:50px;
	width:100%;
	background:#eee;
}
.firefly {
	color:#000;
	font-size:32px;
	letter-spacing:0.5px;
	padding:6px 16px;
	font-weight:bold;
}
.frontpage {
	max-width:820px;
	margin:auto;
	margin-top:100px;
}
.firefly-font {
	margin:auto;
	max-width:100%;
}
#search {
	display:flex;
	flex-direction:row;
	margin-top:40px;
}
#search * {
	font-size:16px;
	font-weight:bold;
}
.search {
	border:0;
	flex-grow:1;
	padding:12px 16px;
	background:rgba(39,39,39,0.8);
	border-radius:0px 16px;
	color:#fff;
	border:1px solid #fff;
	transition: all 0.2s ease-in-out;
}
.search:hover {
	background:rgba(60,60,60,0.8);
}
.search-submit {
	border:0;
	background:rgba(246,246,246,0.7);
	margin-left:16px;
	border-radius:0px 16px;
	color:#000;
	padding:12px 20px;
	border:1px solid #fff;
	transition: all 0.2s ease-in-out;
}
.search-submit:hover {
	background:rgba(246,246,246,1);
	cursor:pointer;
}
#main {
	width:100%;
	margin:auto;
	
}
#main .row {
	display:flex;
	flex-direction:row;
	margin:auto;

}
#main .sidebar {
	min-width:300px;
	background:#333;
}
#main .row .block {
	margin:10px;
	padding:12px 20px;
	flex-grow:1;
	background:#fff;
	font-weight: bold;
	line-height:150%;
}
#main .row .block.map {
	padding:0;
}
#map {
	height:500px;
}
button {
	font-weight:bold;
	padding:12px 20px;

	border:0;

}
button.warning {
	color:#fff;
	background:#ED1C24;
}
button.warning:hover {
	background:#FF4B52;
	cursor:pointer;
}
button.danger {
	color:#fff;
	background:#3E3E3E;
}
button.danger:hover {
	cursor:pointer;
	background:#737373;
}