body { 
	background-color:#000;
	color:#e4e4e4;
	margin:0px auto;
	font-weight: normal; 
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}
h1, h2 {
	color:#222;
	padding:12px 20px;
}
span {
	color:#ED1C24;
}
#nav {
	height:50px;
	width:100%;
	background:#eee;
}
.firefly {
	color:#000;
	font-size:32px;
	letter-spacing:0.5px;
	padding:6px 16px;
	font-weight:bold;
}
.frontpage {
	max-width:820px;
	margin:auto;
	margin-top:250px;
}
.firefly-font {
	padding:16px;
	margin:auto;
	background:rgba(46,46,46,0.85);
	max-width:calc(100% - 32px);
}
#search {
	display:flex;
	flex-direction:row;
	margin-top:40px;
}
#search select {
	padding:12px;
	margin-left:16px;
	border:2px solid #fff;
	background:rgba(246,246,246,0.6);
	color:#000;
	border-radius:0 16px;
}
#search select option {
	color:#000;
	border:0;
}
#search * {
	font-size:16px;
	font-weight:bold;
}
.search {
	border:0;
	flex-grow:1;
	padding:12px 16px;
	background:rgba(39,39,39,0.8);
	border-radius:0px 16px;
	color:#fff;
	border:2px solid #fff;
	transition: all 0.2s ease-in-out;
}
.search:hover {
	background:rgba(60,60,60,0.8);
}
.search-submit {
	border:0;
	background:rgba(246,246,246,0.6);
	margin-left:16px;
	border-radius:0px 16px;
	color:#000;
	padding:12px 20px;
	border:2px solid #fff;
	transition: all 0.2s ease-in-out;
}
.search-submit:hover {
	background:rgba(246,246,246,1);
	cursor:pointer;
}
#main {
	width:100%;
	margin:auto;
	
}
#main .row {
	display:flex;
	flex-direction:row;
	margin:auto;

}
#main .sidebar {
	min-width:300px;
	background:#333;
}
#main .row .block {
	margin:10px;
	padding:12px 20px;
	flex-grow:1;
	background:#fff;
	font-weight: bold;
	line-height:150%;
}
#main .row .block.map {
	padding:0;
}
#map {
	height:100vh;
}
ng-map {
	height: 95vh;
}
button {
	font-weight:bold;
	padding:12px 20px;

	border:0;

}
button.warning {
	color:#fff;
	background:#ED1C24;
}
button.warning:hover {
	background:#FF4B52;
	cursor:pointer;
}
button.danger {
	color:#fff;
	background:#3E3E3E;
}
button.danger:hover {
	cursor:pointer;
	background:#737373;
}
.content {
	margin-top:250px;
	width:100%;
	background:rgba(60,60,60,1);
}
.content h2 {
	color:#eee;
	letter-spacing:0.5px;
	padding:20px 0;
	margin:0;
}
.content .panel {
	padding:20px;
	padding-bottom:48px;
	background:#eee;
	color:#000;
	line-height:150%;
}
.panel .white-bg {
	background:#fff;
}
.width {
	width:1020px;
	margin:auto;
}
footer {
	width:100%;
	background:#000;
	padding:16px 0;
	color:#ccc;
	font-weight:bold;
}
footer a {
	color:#ccc;
}
footer a:hover {
	color:#fff;
}