<div id="main">
	 <video loop muted autoplay id="video_bg" style="position:absolute; z-index:-1; top:16px; width:100%;">
       <source src="./landing.mov">
	</video>
	<div class="frontpage">
		<img src="/font.png" class="firefly-font">
		<div id="search">

			<input class="search" ng-model="category" ng-init="radius=''"></input>
			<form>
			<select ng-model="radius" ng-init="radius=5">
				<option value="1">1km</option>
				<option value="2">2km</option>
				<option value="3">3km</option>
				<option value="4">4km</option>
				<option value="5" ng-selected="radius == 5" >5km</option>
				<option value="10">10km</option>
				<option value="20">20km</option>
			</select>
			</form>
			<a ng-href="/app/{{category}}/{{radius}}"><button class="search-submit">Discover</button></a>
		</div>
	</div>
	
</div>