<div id="main">
	 <video loop muted autoplay id="video_bg" style="position:absolute; z-index:-1; top:0px; width:100%;">
       <source src="./landing.mp4" type="video/mp4">
	</video>
	<div class="frontpage">
		<img src="/font.png" class="firefly-font">
		<div id="search">

			<input class="search" ng-model="category" ng-init="radius=''"></input>
			<form>
			<select ng-model="radius" ng-init="radius=5">
				<option value="1">1km</option>
				<option value="2">2km</option>
				<option value="3">3km</option>
				<option value="4">4km</option>
				<option value="5" ng-selected="radius == 5" >5km</option>
				<option value="10">10km</option>
				<option value="20">20km</option>
			</select>
			</form>
			<a ng-href="/app/{{category}}/{{radius}}"><button class="search-submit">Discover</button></a>
		</div>
	</div>
	<div class="content">
		<div class="width">
		<h2>Firefly, the first social media feedback loop.</h2>
		</div>
		<div class="panel">
			<div class="width">
				Firefly is an integrated social media feedback system of local POIs. Using a combination data mining and crowd sourcing, Firefly sorts multi-social platform data by sentiment and returns the ultimatum rating of the POI in consideration. These returns then become lights on a map interface. The more popular the POI, the brighter the light, hence the idea behind the name"fireflies".
			</div>
		</div>
		<div class="panel" style="background:#fff">
			<div class="width">
				<img src="./logo.png" style="width:90px; padding:8px; margin:auto">
			</div>
		</div>
		<footer>
		<div class="width">
		&copy; Firefly 2016 | <a href="http://www.github.com">GitHub</a>
		<span style="float:right; color:#eee">Made with <span style="color:#f00">♥</span> for MLH Prime</span>
		</div>
		</footer>
	</div>
	
</div>