<div id="main">
	 <video loop muted autoplay id="video_bg" style="position:absolute; z-index:-1; top:0px; width:100%;">
       <source src="./landing.mp4" type="video/mp4">
	</video>
	<div class="frontpage">
		<img src="/font.png" class="firefly-font">
		<div id="search">

			<input class="search" ng-model="category" ng-init="radius=''"></input>
			<form>
			<select ng-model="radius" ng-init="radius=5">
				<option value="1">1km</option>
				<option value="2">2km</option>
				<option value="3">3km</option>
				<option value="4">4km</option>
				<option value="5" ng-selected="radius == 5" >5km</option>
				<option value="10">10km</option>
				<option value="20">20km</option>
			</select>
			</form>
			<a ng-href="/app/{{category}}/{{radius}}"><button class="search-submit">Discover</button></a>
		</div>
	</div>
	<div class="content">
		<div class="width">
		<h2>Firefly, the first social media feedback system.</h2>
		</div>
		<div class="panel">
			<div class="width">
			product description goes here. blah bla blah, lorem ipsum and all that sample text nonsense goes here. nobody is actually going to read this stuff but it makes the project look a lot more complete if we have some kind of basic description. we should also have some icons and a footer.<br>
			<br>
			here is some more sample text, to help fill up the space! :)
			</div>
		</div>
		<div class="panel" style="background:#fff">
			<div class="width">
				we should have some <b>icons</b> or some basic <b>images here!</b>
				<br>
				<br>
			</div>
		</div>
		<footer>
		<div class="width">
		&copy; Firefly 2016 | <a href="http://www.github.com">GitHub</a>
		<span style="float:right; color:#eee">Made with <span style="color:#f00">♥</span> for MLH Prime</span>
		</div>
		</footer>
	</div>
	
</div>