<div id="main">
	<div class="loading-container" ng-show="loading">
		<div class="loading"></div>
		<div id="loading-text">Loading</div>
	</div>
	<div id="search2" ng-show="!loading">
		<input class="search2" ng-model="category" ng-init="radius=''"></input>
		<form>
			<select ng-model="radius" ng-init="radius=5">
				<option value="1">1km</option>
				<option value="2">2km</option>
				<option value="3">3km</option>
				<option value="4">4km</option>
				<option value="5" ng-selected="radius == 5" >5km</option>
				<option value="10">10km</option>
				<option value="20">20km</option>
			</select>
		</form>
		<a ng-href="/app/{{map.center.longitude}}/{{map.center.latitude}}/{{category}}/{{radius}}/"><button class="search2-submit">Discover</button></a>
	</div>
	<div class="block map">
		<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
			<ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" style="position:relative;z-index:-1">
			</ui-gmap-circle>
      <ui-gmap-markers models="markers" coords="'location'"  icon= '{url:"pin.png" }' click="'onClick'">
        <ui-gmap-windows show="show">
          <div ng-non-bindable>
            <h1 class="popup">{{title}}</h1>
            <div class="line">
              <h2>Address: {{placeName}}</h2>
              <h2>Google Rating: {{rating}}</h2>
            </div>
            <hr/>
            <p>
              {{tweets}}
            </p>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>
		</ui-gmap-google-map>

	</div>
</div>
