<div id="navbar" class="navbar navbar-default navbar-static-top" ng-controller="NavbarController" ng-hide="nav.isActive('/admin')">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Orbit 360 Logo">
        <a href="/" class="navbar-brand">
          <h1 class="md-display-2">FireFly</h1>
        </a>
      </md-button>
      
      <span flex></span>
      <md-button ng-href="/admin" ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/admin')}" class="md-raised md-accent" aria-label="Manage">
        <md-icon md-svg-icon="assets/images/icons/profile.svg"></md-icon>
        Start
      </md-button>

      <md-button ng-href="/signup" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}" class="md-raised md-warn" aria-label="Join now">
        Join now
      </md-button>

      <md-button ng-href="/login" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}" class="md-fab md-mini" aria-label="Log In">
        <md-tooltip md-direction="bottom">
          Log in
        </md-tooltip>
        <md-icon md-svg-icon="assets/images/icons/login.svg"></md-icon>
      </md-button>
      <md-button ng-href="/logout" ng-show="nav.isLoggedIn()" class="md-fab md-mini md-warn" aria-label="Log out">
        <md-tooltip md-direction="bottom">
          Log out
        </md-tooltip>
        <md-icon md-svg-icon="assets/images/icons/logout.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
</div>